* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* //////////HEADER////////////////////////// */
/* ///////////////////////////////////////// */

#header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 8px;
}

#header p {
  font-size: 3em;
  font-weight: 900;
}

#header svg {
  width: 40px;
  height: 40px;
}

/* //////////CONTENT////////////////////////// */
/* ///////////////////////////////////////// */

#content {
  height: 85%;
  /* background-color: aqua; */
}

/* //////////MAIN////////////////////////// */
/* ///////////////////////////////////////// */

#main {
  padding: 4% 10%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  /* display: none; CHANGE THIS LATER */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-family: "Roboto", sans-serif;
}

#status {
  font-size: 2em;
  font-weight: bold;
  padding: 2%;
  background-color: rgb(124, 233, 151);
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
#boards {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns */
  grid-template-rows: repeat(10, 1fr); /* 10 rows */
  width: 500px; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
}

.board div {
  background-size: cover;
  background-attachment: fixed;
}

.square {
  border: 1px solid rgb(255, 255, 255);
}

.square:hover {
  cursor: pointer;
  opacity: 100%;
  background-color: rgba(127, 255, 0, 0.9);
}

#user,
#cpu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#user_board:hover {
  pointer-events: none;
}

#user,
#cpu p {
  font-size: 1.2em;
  font-weight: 400;
}
/* //////////INTRO////////////////////////// */
/* ///////////////////////////////////////// */

#intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
}

#intro p {
  font-size: 2em;
}

#intro input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#intro input:hover {
  border-color: #999;
}

#intro input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

#intro button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#intro button:hover {
  background-color: #0056b3;
}

#intro button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* //////////HIDDEN////////////////////////// */
/* ///////////////////////////////////////// */

#intro.hidden {
  display: none;
}

#main.hidden {
  display: none;
}
/* //////////FOOTER////////////////////////// */
/* ///////////////////////////////////////// */

#footer {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 5px;
  font-family: "Roboto", sans-serif;
}

#footer svg {
  width: 30px;
  height: 30px;
}
