* {
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

:root {
  --text: #f1eded;
  --background: #1a1a1a;
  --primary: #558fce;
  --secondary: #185d7c;
  --accent: #618296;
  --boardcolor: #f1eded;

  --linearPrimarySecondary: linear-gradient(#558fce, #485a52);
  --linearPrimaryAccent: linear-gradient(#558fce, #7b8c96);
  --linearSecondaryAccent: linear-gradient(var(--secondary), var(--accent));
  --radialPrimarySecondary: radial-gradient(#558fce, #485a52);
  --radialPrimaryAccent: radial-gradient(#558fce, #7b8c96);
  --radialSecondaryAccent: radial-gradient(#485a52, #7b8c96);

  --svgGradien: linear-gradient(
    to top,
    var(--primary),
    var(--accent),
    var(--text),
    var(--accent)
  );
}
/* //////////HEADER////////////////////////// */
/* ///////////////////////////////////////// */

#header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 10px;
  position: relative;
  background-color: var(--background);
  color: var(--text);
  border-bottom: 1px solid var(--text);
}

#header p {
  font-size: 3.5em;
  font-weight: 900;
  background: linear-gradient(
    to top,
    var(--primary),
    var(--accent),
    var(--text),
    var(--accent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

#header svg {
  width: 60px;
  height: 60px;
  fill: url(#myGradient);
}

/* //////////CONTENT////////////////////////// */
/* ///////////////////////////////////////// */

#content {
  height: 85%;
  background-color: var(--background);
}

/* //////////MAIN////////////////////////// */
/* ///////////////////////////////////////// */

#main {
  padding: 4% 10%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  /* display: none; CHANGE THIS LATER */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-family: "Roboto", sans-serif;
}

#status {
  font-size: 2em;
  /* font-weight: bold; */
  padding: 3% 4%;
  background: var(--linearSecondaryAccent);
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 25svw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--text);
}

#status_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  width: 50svw;
}

#randomize_btn {
  background-color: var(--boardcolor);
  border: none;
  color: var(--boardcolor);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: background-color 0.3s ease;
  transition: transform 0.1s ease;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

#randomize_btn svg {
  width: 40px;
  height: 40px;
  fill: var(--accent);
  transition: fill 0.3s ease;
}

#randomize_btn:hover {
  /* background-color: var(--accent); */
  transition: background-color 0.3s ease;
}

#randomize_btn:active {
  transform: translateY(2px);
  transition: transform 0.1s ease;
}

#randomize_btn:hover svg {
  fill: var(--primary);
  transition: fill 0.3s ease;
}

#begin_game {
  background-color: var(--boardcolor);
  aspect-ratio: 1/1;

  border: none;
  color: var(--boardcolor);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  transition: transform 0.1s ease;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

#begin_game svg {
  width: 40px;
  height: 40px;
  fill: var(--accent);
  transition: fill 0.3s ease;
}

#begin_game:hover {
  /* background-color: var(--pri); */
  transition: background-color 0.3s ease;
}

#begin_game:active {
  transform: translateY(1px);
  transition: transform 0.1s ease;
}

#begin_game:hover svg {
  fill: var(--primary);
  transition: fill 0.3s ease;
}

#boards {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}

#user_board_container {
  position: relative;
  width: 500px;
  height: 500px;
}

#user_board_overlay {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
#user_board {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.board div {
  background-size: cover;
  background-attachment: fixed;
}

.square {
  border: 1px solid rgb(255, 255, 255);
  background-color: var(--boardcolor);
}

#cpu_board > .square:hover {
  cursor: pointer;
  opacity: 100%;
  background-color: var(--primary);
}

#user,
#cpu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#user_board:hover {
  pointer-events: none;
}

#user,
#cpu p {
  font-size: 1.2em;
  font-weight: 400;
  color: var(--text);
}
/* //////////INTRO////////////////////////// */
/* ///////////////////////////////////////// */

#intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: var(--text);
}

#intro p {
  font-size: 2em;
}

#intro input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#intro input:hover {
  border-color: #999;
}

#intro input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

#intro button {
  padding: 10px 20px;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#intro button:hover {
  background-color: var(--primary);
}

#intro button:active {
  transform: translateY(1px);
  transition: transform 0.2s ease;
}
#intro button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* //////////HIDDEN////////////////////////// */
/* ///////////////////////////////////////// */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#intro.hidden {
  display: none;
}

#intro.animation {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  opacity: 0;
}

#main.hidden {
  display: none;
}

.hit {
  background-color: var(--primary);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>skull-scan</title><path d="M2 0C.9 0 0 .9 0 2V6H2V2H6V0H2M18 0V2H22V6H24V2C24 .9 23.1 0 22 0H18M12 3C7.6 3 4 6.6 4 11C4 13.5 5.2 15.8 7 17.2V21H9V18H11V21H13V18H15V21H17V17.2C18.8 15.7 20 13.5 20 11C20 6.6 16.4 3 12 3M8 14C6.9 14 6 13.1 6 12S6.9 10 8 10 10 10.9 10 12 9.1 14 8 14M10.5 16L12 13L13.5 16H10.5M16 14C14.9 14 14 13.1 14 12S14.9 10 16 10 18 10.9 18 12 17.1 14 16 14M0 18V22C0 23.1 .9 24 2 24H6V22H2V18H0M22 18V22H18V24H22C23.1 24 24 23.1 24 22V18H22Z" /></svg>');
  pointer-events: none;
}

.miss {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>alpha-x-box</title><path d="M9,7L11,12L9,17H11L12,14.5L13,17H15L13,12L15,7H13L12,9.5L11,7H9M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3Z" /></svg>');
  background-color: rgb(107, 73, 139);
  pointer-events: none;
}
/* //////////FOOTER////////////////////////// */
/* ///////////////////////////////////////// */

#footer {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary);
  color: var(--text);
  z-index: 2;
}

#footer p {
  color: white;
}

#footer svg {
  width: 30px;
  height: 30px;
  fill: var(--text);
}

#moving_svg {
  position: absolute;
  right: 0;
  mix-blend-mode: screen;
}

#fancy_svg {
  box-shadow: 0 2px 2px white;
  border-radius: 100px;
}
/* //////////MODAL////////////////////////// */
/* ///////////////////////////////////////// */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

#modal-content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#modal-content-info p {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#okButton {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 20%;
  font-size: 16px;
}

#okButton:hover {
  background-color: var(--secondary);
}

.blocked {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--background);
}

a {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* //////////////////// */

/* Hide the modal by default */
#info_modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for the modal content */
.info_modal-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding: 1% 2%;
  max-width: 400px;
}

.info_modal-content p {
  font-size: 2em;
  color: var(--primary);
  font-weight: 900;
}

#info_modal-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
}

/* Style for the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#info_modal_icon {
  position: absolute;
  right: 2svw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  scale: 1;
  transition: scale 0.2s ease-out;
}

#info_modal_icon:hover {
  scale: 1.1;
  transition: scale 0.2s ease-in;
}

#info_modal_icon svg {
  fill: var(--text);
  transition: fill 0.2s cubic-bezier(1, 0.03, 0.93, 0.56);
}

#info_modal_icon:active svg {
  fill: var(--primary);
  transition: fill 0.2s cubic-bezier(0.17, 0.67, 0.05, 0.92);
}

ul li {
  list-style: square;
  line-height: 140%;
}

.dark-mode {
  --background: #f1eded;
  --text: #474747;
  --primary: #558fce;
  --secondary: #185d7c;
  --accent: #618296;
  --boardcolor: #b9b9b9;
}

.dark-mode #randomize_btn svg {
  width: 40px;
  height: 40px;
  fill: var(--background);
  transition: fill 0.3s ease;
}

.dark-mode #randomize_btn {
  background-color: lightgray;
}

.dark-mode #begin_game {
  background-color: lightgray;
}

.dark-mode #randomize_btn:hover svg {
  width: 40px;
  height: 40px;
  fill: var(--accent);
  transition: fill 0.3s ease;
}

.dark-mode #begin_game svg {
  width: 40px;
  height: 40px;
  fill: var(--background);
  transition: fill 0.3s ease;
}

.dark-mode #begin_game:hover svg {
  width: 40px;
  height: 40px;
  fill: var(--primary);
  transition: fill 0.3s ease;
}

.toggle-container {
  position: absolute;
  left: 2svw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  width: 40px;
  height: 20px;
  background-color: #7bdbec;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #77b7ff; /* Green color for dark mode */
}

.toggle-input:checked + .toggle-label::after {
  transform: translateX(20px); /* Move the knob to the right for dark mode */
}
